.contactTitle {
  text-align: center;
  color: #5A1D3E;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
}

.formContainer {
  width: 90vw;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
  background: linear-gradient(to right, #F6EDE8, rgba(167, 216, 184, 0.5));
  z-index: 6000;
}

.form {
  width: 100%;
  max-width: 500px;
  margin: auto;
}

.formTitle {
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  color: #5A1D3E;
  margin: 25px 0;
  text-align: center;
}

.input-group {
  margin: 1em 0;
}

.input-group input,
.input-group textarea {
  font-size: 100%;
  padding: 0.7em;
  outline: none;
  color: #5A1D3E;
  border: none;
  border-bottom: 2px solid #5A1D3E;
  background: transparent;
  width: 100%;
  resize: none;
}

.messageInput {
  margin-top: 4em;
}

.submitArea {
  text-align: center;
}
